In [1]:
import pandas as pd
import numpy as np

In [2]:
so = ""
while so != "mac" and so != "windows":
    so = input('Ingrese Sistema operativo (windows / mac)')
    if so == 'windows':
        path = "D:\\Datasets\\defunciones_deis_abierto\\"
        nom = "DEF_1990_2018.csv"
        defunciones = path+nom
    elif so == 'mac':
        path = "/Users/alvaro/Documents/Data_Science/datasets/defunciones/"
        nom = "DEF_2010_2018.csv"
        defunciones = path+nom
    
df = pd.read_csv(defunciones, sep=';', encoding='Latin-1')

Ingrese Sistema operativo (windows / mac) mac

/usr/local/Cellar/jupyterlab/3.1.14_1/libexec/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (21,58,60,64,67,69,70,71,73,76,82,86,89,90,91,93,96,97,98,99,100) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
for i in df.columns:
    print(i)

ID_FALLECIDO
DIA_DEF
MES_DEF
ANO_DEF
FECHA_DEF
SEXO
GLOSA_SEXO
DIA_NAC
MES_NAC
ANO_NAC
FECHA_NACIMIENTO
EDAD_CANT
EDAD_TIPO
GLOSA_EDAD_TIPO
EST_CIVIL
GLOSA_EST_CIVIL
CURSO_INS
NIVEL_INS
GLOSA_NIVEL_INS
ACTIVIDAD
GLOSA_ACTIVIDAD
OCUPACION
GLOSA_OCUPACION
CATEGORIA
GLOSA_CATEGORIA
ANO_INSCR
LOCAL_DEF
GLOSA_LOCAL_DEF
REG_RES
GLOSA_REG_RES
SERV_RES
GLOSA_SERV_RES
COMUNA
GLOSA_COMUNA_RESIDENCIA
URBANO_RURAL
DIAG1
GLOSA_SUBCATEGORIA_DIAG1
CODIGO_CATEGORIA_DIAG1
GLOSA_CATEGORIA_DIAG1
CODIGO_GRUPO_DIAG1
GLOSA_GRUPO_DIAG1
CAPITULO_DIAG1
GLOSA_CAPITULO_DIAG1
DIAG2
GLOSA_SUBCATEGORIA_DIAG2
CODIGO_CATEGORIA_DIAG2
GLOSA_CATEGORIA_DIAG2
CODIGO_GRUPO_DIAG2
GLOSA_GRUPO_DIAG2
CAPITULO_DIAG2
GLOSA_CAPITULO_DIAG2
AT_MEDICA
GLOSA_AT_MEDICA
CAL_MEDICO
GLOSA_CAL_MEDICO
CER_MES
CER_ANO
FUND_CAUSA
GLOSA_FUND_CAUSA
COD_MENOR
GLOSA_COD_MENOR
PESO
GESTACION
NUTRITIVO
GLOSA_NUTRITIVO
EDAD_MADRE
EST_CIV_MADRE
GLOSA_EST_CIV_MADRE
ACTIV_MADRE
GLOSA_ACTIV_MADRE
OCUPA_MADRE
GLOSA_OCUPA_MADRE
CATEG_MADRE
GLOSA_CATEG_MADRE
CURSO_MADRE
NIVEL_MADRE
GLOSA_NIVEL_MADRE
HIJ_VIVOS
HIJ_FALLECIDOS
HIJ_MORTINATOS
HIJ_TOTAL
PARTO_ABORTO
GLOSA_PARTO_ABORTO
DIA_PARTO
MES_PARTO
ANO_PARTO
FECHA_PARTO
EDAD_PADRE
ACTIV_PADRE
GLOSA_ACTIV_PADRE
OCUPA_PADRE
GLOSA_OCUPA_PADRE
CATEG_PADRE
GLOSA_CATEG_PADRE
CURSO_PADRE
NIVEL_PADRE
GLOSA_NIVEL_PADRE
CODIGO_TERMINO_DIAGNOSTICO_1
CODIGO_TERMINO_DIAGNOSTICO_2
CODIGO_TERMINO_DIAGNOSTICO_3
CODIGO_TERMINO_DIAGNOSTICO_4

In [3]:
df.describe()

,DIA_DEF,MES_DEF,ANO_DEF,SEXO,DIA_NAC,MES_NAC,ANO_NAC,EDAD_CANT,EDAD_TIPO,EST_CIVIL,...,HIJ_TOTAL,PARTO_ABORTO,DIA_PARTO,MES_PARTO,ANO_PARTO,EDAD_PADRE,ACTIV_PADRE,CATEG_PADRE,CURSO_PADRE,NIVEL_PADRE
count,913871.000000,913893.000000,913893.000000,913893.000000,913850.000000,913852.000000,913873.000000,913893.000000,913893.000000,913893.000000,...,120764.000000,11631.000000,11516.000000,10215.000000,11499.000000,14423.000000,120741.000000,120741.000000,120750.000000,15442.000000
mean,15.733031,6.605285,2014.091761,1.472635,15.341005,6.735627,1942.914848,70.877561,1.036102,1.858729,...,0.268449,1.020806,15.850208,6.476260,2010.673363,34.676004,0.263937,0.441267,0.607048,2.858049
std,8.809850,3.346413,2.582351,0.506622,8.806337,3.462025,35.320607,19.766911,0.294875,0.939541,...,0.949702,0.142742,8.749124,3.473275,74.715039,17.169909,1.207511,1.466761,1.790333,2.411423
min,1.000000,1.000000,2010.000000,1.000000,1.000000,1.000000,1888.000000,1.000000,1.000000,1.000000,...,0.000000,1.000000,1.000000,1.000000,1981.000000,14.000000,0.000000,0.000000,0.000000,1.000000
25%,8.000000,4.000000,2012.000000,1.000000,8.000000,4.000000,1929.000000,62.000000,1.000000,1.000000,...,0.000000,1.000000,8.000000,3.000000,2007.000000,25.000000,0.000000,0.000000,0.000000,1.000000
50%,16.000000,7.000000,2014.000000,1.000000,15.000000,7.000000,1938.000000,75.000000,1.000000,2.000000,...,0.000000,1.000000,16.000000,6.000000,2011.000000,31.000000,0.000000,0.000000,0.000000,2.000000
75%,23.000000,9.000000,2016.000000,2.000000,23.000000,10.000000,1952.000000,85.000000,1.000000,2.000000,...,0.000000,1.000000,23.000000,9.000000,2014.000000,38.000000,0.000000,0.000000,0.000000,4.000000
max,31.000000,12.000000,2018.000000,9.000000,31.000000,12.000000,9999.000000,999.000000,9.000000,9.000000,...,99.000000,2.000000,31.000000,12.000000,9999.000000,99.000000,9.000000,9.000000,9.000000,9.000000